.calculator {
  width: 70%;
}

.input {
  width: 420px;
  background-color: rgb(187, 187, 187);
  height: 60px;
  border: 1px solid black;
  font-size: 30px;
}

.input:hover {
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators div {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 77px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #ddd;
  font-size: larger;
  background-color: #ff9500;
  color: white;
}

.operators div:hover {
  background-color: #307cf9;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.operators div:active {
  font-weight: bold;
}

.leftPanel {
  display: inline-block;
  width: 100%;
}

.numbers div {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 7em;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #bdbdbd;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
  background-color: #1c1c1c;
  color: white;
}

.numbers div:hover {
  background-color: #f1f1f1;
  color: black;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.numbers div:active {
  font-weight: bold;
}

div.equal {
  display: inline-block;
  border: 1px solid #3079ed;
  border-radius: 1px;
  width: 300px;
  text-align: center;
  padding: 0.6em 3em;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  background-color: #4d90fe;
  transition: all 0.2s ease-in-out;
  font-size: larger;
  background-color: #ff9500;
}

div.equal:hover {
  background-color: #307cf9;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #1857bb;
}

div.equal:active {
  font-weight: bold;
}
